.form-control {
    height: 50vh;
    resize: none;
}

.d-grid {
    margin-top: 50px;
}

.alert {
    box-shadow: 2px 2px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.result {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}